@model IEnumerable<VueControlleur.Models.StudentModel>

@{
    ViewData["Title"] = "ListeView";
}

<h1>ListeView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Langage</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Nom</td>
            <td>@item.Prenom</td>
            <td>@item.Langage</td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-controller="Student">Modifier</a>
                <a class="btn btn-primary" asp-action="Delete" asp-controller="Student">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
